body {
  padding-top: 100px;
}
.bs-example{
    	margin: 5px;
    }
#myModal .modal-dialog{
    width: 1100px;
  }
#myModalMessage .modal-dialog{
      width: 550px;
    }
    @font-face {
       font-family: myFirstFont;
       src: url('./Eight_One.ttf');

    }
    #title {
       font-family: myFirstFont;
       font-weight: bold;
       font-size: xx-large;
    }
