.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    background-color: #B0E0E6;

}
#navbar-custom
{
  background-color: #B0E0E6 !important;
}
