*{
  margin:0;
  padding:0;
}
body{
  padding-top: 70px;
}
h2,p{
  font-size:100%;
  font-weight:normal;
}
#tabstyle ul,li{
  list-style:none;
}
#tabstyle ul{
  overflow:hidden;
  padding:3em;
}
#tabstyle ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  overflow:hidden;
  white-space: normal;
  word-wrap:break-word;
  height:10em;
  width:10em;
  padding:1em;
  z-index:0;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

#tabstyle ul li{
  margin:1em;
  float:left;
}
#tabstyle ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
#tabstyle ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
#tabstyle ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
#tabstyle ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#tabstyle ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#tabstyle ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#tabstyle ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  overflow:visible;
  z-index:5;
  width:auto
  
}

 /*ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}*/
